:root {
  --color-gray-primary: #7e7e7e;
  --color-gray-secondary: #eeeeee;
  --color-purple-primary: #9867c5;
  --shadow-primary: 0.3rem 0.3rem 0.5rem 0.5rem rgba(0,0,0,0.05);
  --shadow-secondary: 0.1rem 0.1rem 0.2rem 0.2rem rgba(0,0,0,0.05);
  --padding-main: 2rem;
  --border-radius-main: 0.5rem;
  --color-red-primary: #bb0a1e;
  --color-red-secondary: #ffdcd1;
  --color-green-primary: #228b22;
  --color-green-secondary: #c3ffaf;
  --color-yellow-primary: #fbb117;
  --color-yellow-secondary: #fffee0;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  color: var(--color-gray-primary);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.app {
  display: grid;
  grid-template-columns: 15vw 1fr;
}

.main-container {
  padding: 1rem 2rem 2rem;
}